<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management App</title>
    <link rel="icon" type="image/png" href="{% static 'inventory/img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'inventory/styles.css' %}">
</head>

<body>
    <header>
        <div class="header-flex">
            <img src="{% static 'inventory/img/logo.png' %}" alt="Logo">
            <h1>Inventory Management</h1>
        </div>
    </header>

    <div class="main-content">
        {% block content %}{% endblock %}       
    </div>

    <div class="page-wrapper">
        <footer>
            {% include "inventory/footer.html" %}
        </footer>
    </div>
</body>
</html>
