{% extends "inventory/base.html" %}

{% block content %}

    <script>
    function myfunction() {
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("UserInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        
        // Loop through all table rows
        for (i = 0; i < tr.length; i++) {
            // Loop through all table cells (columns)
            var found = false;
            for (j = 0; j < tr[i].cells.length; j++) {
                td = tr[i].cells[j];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        found = true;
                        break; // If found in any column, no need to check others
                    }
                }
            }
            tr[i].style.display = found ? "" : "none";
        }
    }  
    </script>
    
    <div class="search-bar">
        <input type="text"  id="UserInput" onkeyup="myfunction()" placeholder="Search item...">
    </div>

    <div class="table-container">
        <table border="1" id="myTable">
        <tr>
            <th><span>Name</span></th>
            <th><span>Category</span></th>
            <th><span>Tag No.</span></th>
            <th><span>Location</span></th>
            <th><span>Condition</span></th>
            <th><span>User</span></th>
            <th><span>Usage</span></th>
            <th><span>Notes</span></th>
        </tr>
        {% for x in inventory %}
            <tr>
                <td>{{x.name}}</td>
                <td>{{x.category}}</td>
                <td>{{x.tag_number}}</td>
                <td>{{x.location}}</td>
                <td>{{x.condition}}</td>
                <td>{{x.assigned_to}}</td>
                <td>{{x.intended_usage}}</td>
                <td>{{x.additional_notes}}</td>
                <td>
                    <a href="{% url 'inventory-detail' x.id %}">View</a><blank>  </blank><a href="{% url 'inventory-edit' x.id %}">Update</a><blank>  </blank><a href="{% url 'inventory-delete' x.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>

    <div class="add-home">
        <a href="{% url 'inventory-add' %}">Add Item</a>
    </div>

    <!-- <div class="pagination">
        <span>Page 1 of 10</span>
        <a href="#">Previous</a>
        <a href="#">Next</a>
    </div> -->

    

    
{% endblock %}